@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif !important;
    font-weight: 700;
    width: 100%;
    overflow-x: hidden;
    background-color: #141517 !important;
}

.navbar{
    padding: 20px 0 20px 0 !important;
}

.main-header{
    width: 100% !important;
    background-size: 100% 100%;
    background-image: url(../img/header-bg.jpg);
    height: 630px;
    overflow-x: hidden;
}

.intro-heading{
    padding-top: 20%;
    font-size: 550%;
    text-align: center;
    color: white;
}

.intro-sub{
    font-size: 150%;
    text-align: center;
    color: white; 
}

.wave1{
    margin-top: -22%;
}

.wave2{
    margin-top: -21%;
}

.image1{
    margin-top: -420px;
    transform: translateX(50%);
    animation: floatAnim 6s ease-in-out infinite;
}

@keyframes floatAnim {
    0% {
      transform: translate(50%,123px);
    }
    50% {
      transform: translate(50%,138px);
    }
    100% {
      transform: translate(50%,123px);
    }
}

.section-1{
    margin-top: 20px;
    width: 100%;
    padding-bottom: 100px;
}

.section-1 div.topic{
    font-size: 200%;
    text-align: center;
    color: white; 
}

.section-1 div.description{
    font-size: 110%;
    margin: 20px 20%;
    text-align: center;
    color: white; 
}

.image2{
    margin-top: -380px;
    position: absolute;
    width: 50px;
    transform: translateX(85%);
    animation: floatAnim2 6s ease-in-out infinite;
}

@keyframes floatAnim2 {
    0% {
      transform: translate(85%, 138px);
    }
    50% {
      transform: translate(85%, 123px);
    }
    100% {
       transform: translate(85%, 138px);
    }
}

.section-2{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    padding: 0 200px;
}

.section-2 div.topic{
    font-size: 200%;
    text-align: center;
    color: white; 
}

.winners{
    padding-top: 20px;
}

.winners div.card{
    background-color: #0f2e4deb;
    color: #a2a2a2;
    transition: 0.5s;
}

.winners div.card:hover{
    background-color: #003a74eb;
    color: #ffffff;
    border-left: 20px rgba(22, 22, 22, 0) solid;
}

.section-3{
    margin-top: 40px;
    width: 100%;
    padding: 0 100px;
}

.section-3 div.topic{
    font-size: 200%;
    text-align: center;
    color: white; 
}

.detail-cards{
    padding-top: 20px;
}

.detail-cards div.card{
    background-color: #0f2d4c;
    color: #a2a2a2;
    margin-bottom: 20px;
    transition: 0.5s;
}

.detail-cards h5.card-title{
    text-align: center;
}

.detail-cards div.card:hover{
    background-color: #003a74eb;
    color: #ffffff;
}

.detail-cards img.card-img-top{
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.detail-cards div.open{
    opacity: 0;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 40px;
    transition: 0.3s;
}

.detail-cards div.card:hover img.card-img-top{
    opacity: 0.1;
}

.detail-cards div.card:hover div.open{
    opacity: 1;
    margin-top: -100px;
    margin-bottom: 60px;
}


/* 
.image3{
    margin-top: -420px;
    position: absolute;
    width: 50px;
    transform: translateX(1800%);
    animation: floatAnim3 6s ease-in-out infinite;
}

@keyframes floatAnim3 {
    0% {
        transform: translate(1800%,123px);
      }
      50% {
        transform: translate(1800%,138px);
      }
      100% {
        transform: translate(1800%,123px);
      }
} */

.chart-card{
    background-color: #111315 !important;
    color: #b3b3b3;
    margin-bottom: 220px;
    text-align: center;
}

.wave3{
    margin-top: -18%;
}

.wave4{
    margin-top: -21%;
}

.page-footer{
    color: white;
    background-color: #343a40;
}

.footer-copyright{
    background-color: #222325;
}

.acicts-links a{
    font-size: 150%;
    color: white;
    transition: 0.2s;
}

@media only screen and (max-width: 1200px) {
    .image2{
        margin-top: -380px;
        position: absolute;
        width: 50px;
        transform: translateX(-490%);
        animation: floatAnimL 6s ease-in-out infinite;
    }


    @keyframes floatAnimL {
        0% {
          transform: translate(-490%, 138px);
        }
        50% {
          transform: translate(-490%, 123px);
        }
        100% {
           transform: translate(-490%, 138px);
        }
    }
}

@media only screen and (max-width: 1050px) {
    .section-3{
        margin-top: 40px;
        width: 100%;
        padding: 0 50px;
    }    
}

@media only screen and (max-width: 850px) {
    .section-2{
        padding: 0 60px;
    }    
}

@media only screen and (max-width: 600px) {
    .main-header{
        background-size: 200% 100%;
        background-position: center;
        height: 540px;
    }

    .intro-heading{
        padding-top: 20%;
        font-size: 500%;
        text-align: center;
        color: white;
    }

    /* .wave1{
        margin-top: -80px;
    }

    .wave2{
        margin-top: -70px;
    } */

    .image1{
        margin-top: -602px;
        transform: translateX(0%);
        animation: floatAnimS 6s ease-in-out infinite;
    }    

    .image1 svg{
        transform: scale(0.8);
    }

    .section-1{
        margin-top: 85px;
    }

    .image2{
        margin-top: -500px;
        transform: translateX(-490%);
        animation: floatAnimS2 6s ease-in-out infinite;
    } 
    
    .image2 svg{
        transform: scale(0.5);
    }

    .section-2{
        margin-top: 20px;
        width: 100%;
        height: 450px;
        padding: 0 10px;
    }

    .chart-card {
        margin-bottom: 60px;
    }

    @keyframes floatAnimS {
        0% {
          transform: translate(0%,123px);
        }
        50% {
          transform: translate(0%,138px);
        }
        100% {
          transform: translate(0%,123px);
        }
    }

    @keyframes floatAnimS2 {
        0% {
          transform: translate(-490%,138px);
        }
        50% {
          transform: translate(-490%,123px);
        }
        100% {
          transform: translate(-490%,138px);
        }
    }
}