---
---
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="./img/logos/acicts.png">

  <title>BITS '18 - RECAP</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top" style="font-family: 'Saira', sans-serif !important;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger " href="#page-top" style="font-family: 'Saira', sans-serif !important;">BITS 2018 - Recap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto" >
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about" style="font-family: 'Saira', sans-serif !important;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#tasks" style="font-family: 'Saira', sans-serif !important;">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#students" style="font-family: 'Saira', sans-serif !important;">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mentors" style="font-family: 'Saira', sans-serif !important;">Mentors</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">&lt; BITS - 2018 &gt;</div>
        <div class="intro-lead-in" style="font-family: 'Saira', sans-serif !important;">[ Recap site; ]</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services" style="visibility:hidden">Explore</a>
        <br>
      </div>
    </div>
  </header>

  <div class="section images-rest">
    <div class="container text-center" style="margin-top:-70px;">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <img src="./img/lap.png" class="img-fluid img-lap" style="position:absolute;  bottom: -490px; left: 49px; width:80%">
          <img src="./img/mobile.png" class="img-fluid img-mobile" width="250px;" style="position:absolute;">
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="about">
    <div class="container text-center" style="margin-top:350px;">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>What is BITS?</h1>
            <p contenteditable="true"> BITS 2018, the Intra-School practice-based ICT competition is organized by the Ananda College ICT Society for
              the first time in Sri Lanka with the intention of providing a platform for our school students and polish their
              IT knowledge in the different fields of ICT.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Services -->
  <div class="section">
    <div class="container text-center" style="margin-top:100px;">
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">80+ students</h4>
          <p class="text-muted">80+ Young Anandians have been able to participate in BITS and 40+ out of them were able to successfully carry out their work throughout the competition</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">200+ Tasks</h4>
          <p class="text-muted">200+ tasks completed until now from blog posts, designing logos to creating websites about developing FOSS.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-id-badge fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">9 mentors</h4>
          <p class="text-muted">The Staff of Mentors created  an environment in which particpants were able to smoothly run along the competition
            with the help, assistance and enthusiasm of our mentors.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- tasks -->
  <div class="section" id="tasks">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Code;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_code in site.data.projects_code %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_code/{{ projects_code.image }}.jpeg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">{{projects_code.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_code.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_code.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_code.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_code.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- tasks -->
  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Design;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_design in site.data.projects_design %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_design/{{ projects_design.image }}.png" class="card-img-top" alt="image" width="100%">
          <div class="card-body">
            <h5 class="card-title">{{projects_design.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_design.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_design.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_design.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_design.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- tasks -->
  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Explore;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_explore in site.data.projects_explore %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_explore/{{ projects_explore.image }}.jpeg" class="card-img-top" alt="image" width="100%">
          <div class="card-body">
            <h5 class="card-title">{{projects_explore.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_explore.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_explore.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_explore.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_explore.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--students-->
  <div class="section" style="margin-top:50px;" id="students">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title">
            <br>Students</h1>
        </div>
      </div>

      <div class="row">
        {% for student in site.data.students %}
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-square" src="./img/students/{{student.image}}.jpeg" alt="image">
            <h4>{{student.name}}</h4>
            <p class="text-muted">{{student.class}} (2018)</p>
            <ul class="list-inline social-buttons">
            {% if student.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{student.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
          {% endfor %}
        </div>
        </div>
      </div>

  <!--mentors-->
  <div class="section" style="margin-top:50px;" id="mentors">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title">
            <br>Mentors</h1>
        </div>
      </div>

      <div class="row">
        {% for mentor in site.data.mentors %}
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-square" src="./img/mentors/{{mentor.image}}.jpg" alt="image">
            <h4>{{mentor.name}}</h4>
            <p class="text-muted">Grade: {{mentor.class}} (2018)</p>
            <p style="margin-top:-20px;"><big>{{ mentor.description }}</big></p>
            <ul class="list-inline social-buttons">
            {% if mentor.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{mentor.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.twitter %}
              <li class="list-inline-item">
                <a href="https://twitter.com/{{mentor.twitter}}" target="blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.facebook %}
              <li class="list-inline-item">
                <a href="https://facebook.com/{{mentor.facebook}}" target="blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.instagram %}
              <li class="list-inline-item">
                <a href="https://www.instagram.com/{{mentor.instagram}}" target="blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
          {% endfor %}
        </div>
        </div>
      </div>

      <!--footer-->

  <footer style="background:#dee2e6;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright"><h5 style="font-family: 'Saira', sans-serif !important;">Copyright © ACICTS 2018</h5></span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/acicts" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/acicts" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/acicts" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://acicts.io" target="_blank" style="font-family: 'Saira', sans-serif !important; color:#212529;">ACICTS</a>
            </li>
            <li class="list-inline-item">
              <a href="https://bits.acicts.io" target="_blank" style="font-family: 'Saira', sans-serif !important; color:#212529">BITS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--This website was designed by Supun Tharinda-->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

</body>

</html>
