---
layout: main
---
  
<!-- Header -->
<div class="main-header">
    <div class="intro">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">&lt;BITS/&gt;</div>
        <div class="intro-sub">[Recap site;]</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services" style="visibility:hidden">Explore</a>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="wave1">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#000000" fill-opacity="0.2" d="M0,160L20,186.7C40,213,80,267,120,277.3C160,288,200,256,240,256C280,256,320,288,360,261.3C400,235,440,149,480,122.7C520,96,560,128,600,128C640,128,680,96,720,106.7C760,117,800,171,840,176C880,181,920,139,960,106.7C1000,75,1040,53,1080,48C1120,43,1160,53,1200,101.3C1240,149,1280,235,1320,245.3C1360,256,1400,192,1420,160L1440,128L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path>
  </svg>
</div>

<div class="wave2">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#141517" fill-opacity="1" d="M0,160L20,186.7C40,213,80,267,120,277.3C160,288,200,256,240,256C280,256,320,288,360,261.3C400,235,440,149,480,122.7C520,96,560,128,600,128C640,128,680,96,720,106.7C760,117,800,171,840,176C880,181,920,139,960,106.7C1000,75,1040,53,1080,48C1120,43,1160,53,1200,101.3C1240,149,1280,235,1320,245.3C1360,256,1400,192,1420,160L1440,128L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path>
  </svg>
</div>


<div class="image1">
  {% include svg/programmer.html %}
</div>

<div class="section-1">
    <div class="topic">What is it?</div>
    <div class="description">BITS, The First-Ever Task-Based Intra-School ICT competition, organized by the Ananda College ICT Society to provide a platform for our school's students to polish and improve their ICT knowledge in many fields of ICT.</div>
</div>

<div class="section-2">
  <div class="topic">Past Year Winners</div>
  <div class="card winners mb-3">
    <div class="card-body">
      <h5 class="card-title">BITS 2018</h5>
      <p class="card-text">Name Here</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


  <!-- <div class="section images-rest">
    <div class="container text-center" style="margin-top:-70px;">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <img src="./img/lap.png" class="img-fluid img-lap" style="position:absolute;  bottom: -470px; left: 49px; width:80%">
          <img src="./img/mobile.png" class="img-fluid img-mobile" width="250px;" style="position:absolute;">
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="about">
    <div class="container text-center" style="margin-top:350px;">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>What is BITS?</h1>
            <p contenteditable="true"> BITS 2018, the Intra-School practice-based ICT competition is organized by the Ananda College ICT Society for
              the first time in Sri Lanka with the intention of providing a platform for our school students and polish their
              IT knowledge in the different fields of ICT.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Services --
  <div class="section">
    <div class="container text-center" style="margin-top:100px;">
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-user fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">80+ students</h4>
          <p class="text-muted">80+ Young Anandians have been able to participate in BITS and 40+ out of them were able to successfully carry out their work throughout the competition</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">200+ Tasks</h4>
          <p class="text-muted">200+ tasks completed until now from blog posts, designing logos to creating websites about developing FOSS.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-id-badge fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">9 mentors</h4>
          <p class="text-muted">The Staff of Mentors created  an environment in which particpants were able to smoothly run along the competition
            with the help, assistance and enthusiasm of our mentors.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- tasks --
  <div class="section" id="tasks">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Code;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_code in site.data.projects_code %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_code/{{ projects_code.image }}.jpeg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">{{projects_code.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_code.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_code.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_code.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_code.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- tasks --
  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Design;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_design in site.data.projects_design %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_design/{{ projects_design.image }}.png" class="card-img-top" alt="image" width="100%">
          <div class="card-body">
            <h5 class="card-title">{{projects_design.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_design.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_design.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_design.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_design.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- tasks --
  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title" id="about">
            <br>Tasks : Explore;</h1>
        </div>
      </div>
      <div class="row justify-content-md-center">
        {% for projects_explore in site.data.projects_explore %}
        <div class="card" style="width: 18rem; margin:5px;">
          <img src="./img/projects_explore/{{ projects_explore.image }}.jpeg" class="card-img-top" alt="image" width="100%">
          <div class="card-body">
            <h5 class="card-title">{{projects_explore.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="text-align:left;">Name: <b>{{ projects_explore.student }}</b></li>
            <li class="list-group-item" style="text-align:left;">Grade: <b>{{ projects_explore.grade }}</b></li>
            <li class="list-group-item" style="text-align:left;">Description: <b>{{ projects_explore.description }}</b></li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" href="{{projects_explore.link}}" target="_blank">View project</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--students--
  <div class="section" style="margin-top:50px;" id="students">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title">
            <br>Students</h1>
        </div>
      </div>

      <div class="row">
        {% for student in site.data.students %}
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-square" src="./img/students/{{student.image}}.jpeg" alt="image">
            <h4>{{student.name}}</h4>
            <p class="text-muted">{{student.class}} (2018)</p>
            <ul class="list-inline social-buttons">
            {% if student.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{student.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
          {% endfor %}
        </div>
        </div>
      </div>

  <!--mentors--
  <div class="section" style="margin-top:50px;" id="mentors">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h1 class="title">
            <br>Mentors</h1>
        </div>
      </div>

      <div class="row">
        {% for mentor in site.data.mentors %}
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-square" src="./img/mentors/{{mentor.image}}.jpg" alt="image">
            <h4>{{mentor.name}}</h4>
            <p class="text-muted">Grade: {{mentor.class}} (2018)</p>
            <p style="margin-top:-20px;"><big>{{ mentor.description }}</big></p>
            <ul class="list-inline social-buttons">
            {% if mentor.github %}
              <li class="list-inline-item">
                <a href="https://github.com/{{mentor.github}}" target="blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.twitter %}
              <li class="list-inline-item">
                <a href="https://twitter.com/{{mentor.twitter}}" target="blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.facebook %}
              <li class="list-inline-item">
                <a href="https://facebook.com/{{mentor.facebook}}" target="blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
            {% endif %}
            {% if mentor.instagram %}
              <li class="list-inline-item">
                <a href="https://www.instagram.com/{{mentor.instagram}}" target="blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            {% endif %}
            </ul>
          </div>
        </div>
          {% endfor %}
        </div>
        </div>
      </div>

      <!--footer--

  <footer style="background:#dee2e6;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright"><h5 style="font-family: 'Saira', sans-serif !important;">Copyright © ACICTS 2018</h5></span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/acicts" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/acicts" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/acicts" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://acicts.io" target="_blank" style="font-family: 'Saira', sans-serif !important; color:#212529;">ACICTS</a>
            </li>
            <li class="list-inline-item">
              <a href="https://bits.acicts.io" target="_blank" style="font-family: 'Saira', sans-serif !important; color:#212529">BITS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->