<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row align-items-start">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">BITS - Recap Site</h5>
          <p>The first ever task based intra-school ICT Competition.</p>
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 acicts-links mb-md-0 mb-3">
            <h5 class="text-uppercase">ACICTS</h5>
            <a href="#!"><i class="far fa-window-maximize"></i></a>
            <a href="#!"><i class="fab fa-facebook-square"></i></a>
            <a href="#!"><i class="fab fa-instagram"></i></a>
            <a href="#!"><i class="fab fa-twitter-square"></i></a>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">BITS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">BITS 2018</a>
            </li>
            <li>
              <a href="#!">BITS 2019</a>
            </li>
            <li>
              <a href="#!">BITS 2020</a>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://acicts.lk/"> ACICTS</a>
    </div>
  
  </footer>
